In [1]:
# Задача 44: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. 
# Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?
#
# import random
# lst = ['robot'] * 10
# lst += ['human'] * 10
# random.shuffle(lst)
# data = pd.DataFrame({'whoAmI':lst})
# data.head()

In [2]:
import pandas as pd
import random
import numpy as np

In [3]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [4]:
data = pd.DataFrame({'whoAmI':lst})

In [5]:
data.head()

  whoAmI
0  human
1  human
2  robot
3  robot
4  human

In [6]:
fiction_data = data.copy()

In [7]:
fiction_data['Robot'] = np.where(fiction_data['whoAmI']=='robot', 1, 0)
fiction_data['Human'] = np.where(fiction_data['whoAmI']=='human', 1, 0)

In [8]:
fiction_data.drop(columns=['whoAmI'],axis=1,inplace=True)

In [9]:
fiction_data.head()

   Robot  Human
0      0      1
1      0      1
2      1      0
3      1      0
4      0      1